<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358363335783-6b8ci05a545l7oobjsudssh42b066r1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358363335783-6b8ci05a545l7oobjsudssh42b066r1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358363335783-krj4otertirp6giqvur8652qpul6q0l5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRLpP_1VMDUIrCLy-8aQDiNkN2nUIRYgE</string>
	<key>GCM_SENDER_ID</key>
	<string>358363335783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anish.eyeofgod</string>
	<key>PROJECT_ID</key>
	<string>eye-of-god-ac9ca</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-of-god-ac9ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358363335783:ios:92e2f1f2a4a3c31d7758c2</string>
</dict>
</plist>